.district-button-container > * {
    overflow: hidden;
}

.district-button-container #house-button {
    filter: hue-rotate(-20deg) contrast(1.25)
}
:root.dark .district-button-container #house-button {
    filter: hue-rotate(-20deg)
}
:root.dark .district-button-container > * > *::before {
    content:"";
    z-index: -1;
    position: absolute;
    
    width:100%;
    height:100%;

    top: 0;
    left: 0;
    
    background: #0004;
}

.district-button-container #senate-button {
    filter: hue-rotate(105deg) contrast(1.25)
}
:root.dark .district-button-container #senate-button {
    filter: hue-rotate(105deg)
}



.map-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    border: 1px solid var(--text-color-secondary);
}



.map-box {
    margin:1ch 0;
}

.map-box > * {
    display: inline-block;
}

#map-zoom-button {
    float: left;
    margin: 2ch 1ch 0 0;
    padding:0.75ch;
    border-radius: 1ch;

    font: var(--fa-font-solid);

    cursor: pointer;
}

#map-zoom-button:hover {
    background-color: #6665;
}

#map-bounding-box {
    min-width: 10ch;
}

#map-info-panel {
    width: fit-content;
    min-width: 20ch;
    max-width: calc(95% - 5ch);
    margin: 1ch 0 1ch 0;
    padding: 2ch;

    border: 1px solid var(--text-color-secondary);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#map-info-panel h1 {
    margin: -1ch 0 0 0;
}

#map-info-panel img {
    /* height: 144px; */
    width:17ch;
    height: calc(17ch / 0.8);
    border-radius: 1.5ch;
    border: 3px solid #ccc;

    text-align: center;
    font: var(--fa-font-solid);
    line-height: calc(17ch / 0.8);
}

/* #map-info-panel a {
    margin-left: 1ch;
} */

#map-info-panel a::before {
    content: '\f508';
    font: var(--fa-font-solid);

    padding-right: 0.5ch;
}

.district-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.district-button-container > * {
    display:inline-block;
    width:calc(50% - 0.5ch);
    text-align: center;

    border: 1px solid var(--text-color-secondary);
    border-bottom-width: 0;
    border-top-left-radius: 1.5ch;
    border-top-right-radius: 1.5ch;

    font-weight: bold;

    cursor: pointer;
}

.district-button-container > * > * {
    margin: 0.4ch auto 0.4ch auto;
    padding: 0.4ch 1ch 0 1ch;

    display: flex;
    align-items: center;

    width:min-content;
}

.district-button-container > * > * > * {
    margin: 0 0.4ch 0.3ch 0;
}

@-moz-document url-prefix(){
    .district-button-container > * > * > * {
        margin: 0 0.4ch 0.8ch 0ch;
    }
}

.district-button-container > *.active {
    text-shadow: var(--bg-color-primary) 2.5px 1.5px 0px;

    background-image: repeating-linear-gradient(45deg, #86a6cf 0ch, #dfe9f7 2ch, #c2d5ed 2ch, #c2d5ed 2.2ch, #fff0 2.2ch, #fff0 3ch);
    /* background-repeat:repeat-x;
    background-size: 200% 100%;
    animation: ButtonAnimation 90s linear infinite; */
}

/* @keyframes ButtonAnimation {
    0%{background-position:100% 50%}
    100%{background-position: 0% 50%}
} */

.district-button-container > *.active > * {
    background-color: #fff5;
    border-radius: 1ch;
}

.district-button-container > *:hover {
    background-color: #9992;
}

#map path {
    cursor: pointer;
    
    --delay: 600ms;
    animation: show 1300ms var(--delay) cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
    opacity: 0;
}

@keyframes show {
    100% {
        opacity: 1;
        transform: none;
    }
}

.fake-link {
    cursor: pointer;
    color: #2a7ae2;
}

.fake-link:hover {
    color: var(--text-color-primary);
    text-decoration: underline;
}

.fake-link::after {
    content: ' \f08e';
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    font-size: small;
}